<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header class="mb-auto" style="padding:30px;margin:30px;background-color:#000000; color:white;">
        <div>
            <h3 class="float-md-start mb-0">Аренда авто</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>

    <div class="row panel">
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    <footer class="mt-auto text-white-50" style="padding:30px;margin:30px;background-color:#000000; color:white;">
        <p></p>
    </footer>
</body>
</html>