<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*<header>
            <nav class="pix-main-menu pix-text-center">
                <ul id="menu-main" class="nav navbar-nav ">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1944 arrow">
                        <a href="https://quattro.true-emotions.studio/">
                            Home
                        </a>
                        <ul class="submenu js-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2343 arrow">
                                <a href="https://quattro.true-emotions.studio/">
                                    Auto Dealer
                                </a>
                                <ul class="submenu js-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item menu-item-1401">
                                        <a href="https://quattro.true-emotions.studio/">
                                        Home 1 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1400">
                                        <a href="https://quattro.true-emotions.studio/home-2/">
                                            Home 2 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1776">
                                        <a href="https://quattro.true-emotions.studio/home-3/">
                                            Home 3 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1590">
                                        <a href="https://quattro.true-emotions.studio/home-4/">
                                            Home 4 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1637">
                                        <a href="https://quattro.true-emotions.studio/black/">
                                            Home 5 black
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1638">
                                        <a href="https://quattro.true-emotions.studio/black/home-2/">
                                            Home 6 black
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1639">
                                        <a href="https://quattro.true-emotions.studio/black/home-3/">
                                            Home 7 black
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2344 arrow">
                                <a href="https://quattro.true-emotions.studio/black/home-4/">
                                    Repair &amp; Mechanic
                                </a>
                                <ul class="submenu js-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2309">
                                        <a href="https://quattro.true-emotions.studio/home-5/">
                                            Home 1 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2465">
                                        <a href="https://quattro.true-emotions.studio/home-6/">
                                            Home 2 white
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2325">
                                        <a href="https://quattro.true-emotions.studio/black/home-5/">
                                            Home 3 black
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2310 arrow">
                                <a href="https://quattro.true-emotions.studio/black/home-4/">
                                    Cargo &amp; Transport
                                </a>
                                <ul class="submenu js-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2466">
                                        <a href="https://quattro.true-emotions.studio/home-4/">
                                            Home 1 black
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2345">
                                <a href="https://quattro.true-emotions.studio/preview/">
                                    All in one page
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1945">
                        <a href="https://quattro.true-emotions.studio/about-us/">
                            About Us
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1947">
                        <a href="https://quattro.true-emotions.studio/cars-listing/">
                            Cars Listing
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1953">
                        <a href="https://quattro.true-emotions.studio/shop/">
                            Shop
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1949 arrow">
                        <a href="https://quattro.true-emotions.studio/elements/">
                            Elements
                        </a>
                        <ul class="submenu js-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1950">
                                <a href="https://quattro.true-emotions.studio/elements/buttons/">
                                    Buttons
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1951">
                                <a href="https://quattro.true-emotions.studio/elements/icons/">
                                    Icons
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1952">
                                <a href="https://quattro.true-emotions.studio/elements/post-block/">
                                    Post block
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1535">
                                <a href="https://quattro.true-emotions.studio/elements/reviews-block/">
                                    Reviews block
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1946">
                        <a href="https://quattro.true-emotions.studio/blog/">
                            Blog
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1948">
                        <a href="https://quattro.true-emotions.studio/contacts/">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
        </header>*@

    <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Аренда Авто</a>
        </div>

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#services">Services</a></li>
                        <li class="scroll"><a href="#about">About</a></li>
                        <li class="scroll"><a href="#team">Experts</a></li>
                        <li class="scroll"><a href="#portfolio">Works</a></li>
                        <li class="scroll"><a href="#pricing">Package</a></li>
                        <li class="scroll"><a href="#contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>/.container
        </nav>/nav
    </header>
    <div class="row panel">
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    <footer class="pix-footer home-template">
            <div class="vc_row-full-width vc_clearfix">

            </div>
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid pix-padding-top-m pix-padding-bottom-m default vc_custom_1541591491791 vc_row-has-fill" style="position: relative; left: 0px; box-sizing: border-box; width: 768px; padding-left: 0px; padding-right: 0px;">
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element vc_custom_1610917390225">
                                <div class="wpb_wrapper">
                                    <p>
                                        <span style="color: #ffffff;">
                                            ©&nbsp;2008–2021
                                        </span>&nbsp;
                                        <span style="color: #bbbbbb;">
                                            Rutrum ante tempus
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>