@model RentCar.Domain.Entities.Car

<div class="well">
    <h3>
        <strong>@Model.Brand.NameBrand @Model.Brand.NameModel</strong>
        <span class="pull-right label label-primary">@Model.price.ToString("# грн")</span>
    </h3>
</div>

